@tailwind base;
@tailwind components;
@tailwind utilities;
  

.content{
  background-image: url('./assets/Landing.webp');
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Fixes the background image in place */
  background-position:center;
}
.Search{
  background-image: url('./assets/Search/SearchBg.png');
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Fixes the background image in place */
  background-position:center;
}
.Searchbg{
  background-image: url('./assets/Search/Search.webp');
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Fixes the background image in place */
  background-position:center;
}



/* WebKit browsers */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #000000; /* Track color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin; /* Scrollbar width */
    scrollbar-color: #ffffff #000000; /* Handle and track color */
  }
  
  